<a href="https://colab.research.google.com/github/SEOWOOJI/Pandas_Stats_Data_Analysis_2025/blob/main/4_dataframe_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**üîñ Index operators loc[ ] & iloc[ ]**

**ÏõêÏÜå ÏÑ†ÌÉù**
* DataFrameObject.loc[rowÌñâÏù∏Îç±Ïä§, columnÏó¥Ïù¥Î¶Ñ]
* DataFrameObject.iloc[rowÌñâÎ≤àÌò∏, columnÏó¥Î≤àÌò∏]

**Î≤îÏúÑ Ïä¨ÎùºÏù¥Ïã± ÌôúÏö©**

* DataFrameObject.iloc[ÏãúÏûëÏù∏Îç±Ïä§:ÎÅùÏù∏Îç±Ïä§:Ïä¨ÎùºÏù¥Ïã±Í∞ÑÍ≤©]
* The first colon : indicates that we're selecting all rows.
* The second colon : indicates the step size, which is

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print()
print(df.iloc[::2])
print()
print(df.iloc[:3])
print()
print(df.iloc[::-1])

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88

       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90

       Math  English  Music  Gym
Louis    85       79    100   88
Mary     70       95    100   90
Emma     80       89     95   90
Simon    90       98     85  100

In [ ]:
#@markdown  **üêπ Student Activity 8 of the previous class material-Extended2 ‚§µÔ∏è**

#@markdown  **Choose rows Ìñâ ÏÑ†ÌÉù**

#@markdown  **Index operator[ ] with integer location of the rows**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])
print(df)
print('\n')

df1 = df.iloc[::2]
print(df1)
print('\n')

df2 = df.iloc[0:3]
print(df2)
print('\n')

df3 = df.iloc[::-1]
print(df3)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Louis    85       79    100   88
Mary     70       95    100   90
Emma     80       89     95   90
Simon    90       98     85  100

####<font color = 'blue'> üëÄüêæ **Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôò Converting to basic data frame from dictionary data** 1Ô∏è‚É£ ‚§µÔ∏è

####<font color = 'blue'> üëÄüêæ **Ìñâ Ïù∏Îç±Ïä§ Ïã§ÌñâÌïòÍ∏∞ set_index( )** 2Ô∏è‚É£  ‚§µÔ∏è
  - ÌäπÏ†ï Ïó¥(column)ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ìñâ(row) Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ï

In [ ]:
import pandas as pd

exam_data = {'Name' : ['Simon','Mathew','Andy','Louis'],
             'Math':[90, 80, 70, 85],
             'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100],
             'Physics':[100,90,90, 88]}

df = pd.DataFrame(exam_data)
print(df)
print()

df.set_index('Name', inplace=True)
print(df)

     Name  Math  English  Music  Physics
0   Simon    90       98     85      100
1  Mathew    80       89     95       90
2    Andy    70       95    100       90
3   Louis    85       79    100       88

        Math  English  Music  Physics
Name
Simon     90       98     85      100
Mathew    80       89     95       90
Andy      70       95    100       90
Louis     85       79    100       88

In [ ]:
#-*- coding: utf-8 -*-

import pandas as pd

#DataFrame( ) Ìï®ÏàòÎ°ú ÏÇ¨Ï†ÑÌòï Îç∞Ïù¥ÌÑ∞Î•º 2Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò, Î≥ÄÏàò dfÏóê Ï†ÄÏû•.
#Ï£ºÏùò: ÌïôÏÉùÎì§ Ïù¥Î¶ÑÏù¥ ÏûàÎäî Name column & Í∞Å Í≥ºÎ™© ÏÑ±Ï†Å columns ÏÑûÏó¨ ÏûàÏùå.

exam_data = {'Name' : ['Simon', 'Mathew', 'Andy','Louis'],
             'Math':[90,80,70,85],
             'English':[98,89,95,79],
             'Music':[85,95,100,100],
             'Physics':[100,90,90,88]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

#'Name' columnÏùÑ set_index() Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÏÉàÎ°úÏö¥ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÍ≥†, df objectÏóê Î≥ÄÍ≤Ω ÏÇ¨Ìï≠ Î∞òÏòÅ; inplace=True means an immediate application without giving a new variable name.
df.set_index('Name', inplace=True)
print(df)

     Name  Math  English  Music  Physics
0   Simon    90       98     85      100
1  Mathew    80       89     95       90
2    Andy    70       95    100       90
3   Louis    85       79    100       88


        Math  English  Music  Physics
Name
Simon     90       98     85      100
Mathew    80       89     95       90
Andy      70       95    100       90
Louis     85       79    100       88

In [ ]:
import pandas as pd
exam_data = {'Ïù¥Î¶Ñ' : ['ÏàòÌòÑ', 'ÎÇòÏó∞', 'ÏàòÎπà', 'Ïó∞Ïö∞'],
      'ÏàòÌïô' : [90, 94, 89, 82],
      'ÏòÅÏñ¥' : [75, 87, 84, 96],
      'Íµ≠Ïñ¥' : [68, 77, 95, 89]}

df = pd.DataFrame(exam_data).set_index('Ïù¥Î¶Ñ')
df

    ÏàòÌïô  ÏòÅÏñ¥  Íµ≠Ïñ¥
Ïù¥Î¶Ñ
ÏàòÌòÑ  90  75  68
ÎÇòÏó∞  94  87  77
ÏàòÎπà  89  84  95
Ïó∞Ïö∞  82  96  89

####<font color = 'red'> üëÄüêæ **Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôò Ïó∞Ïäµ Í≥ÑÏÜç Converting to basic data frame from dictionary data** 1 ‚§µÔ∏è

In [ ]:
import pandas as pd
dict_data = {'c0' : [1,2,3],
             'c1' : [4,5,6],
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}
df = pd.DataFrame(dict_data)
print(df)
print()

df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

new_index = ['r0','r1','r2','r3','r4']
print(df.reindex(new_index))
print()

print(df.reindex(new_index, fill_value=0))

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [ ]:
#-*- coding: utf-8 -*-

import pandas as pd

#DataFrame( ) Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôò, Î≥ÄÏàò dfÏóê Ï†ÄÏû•

dict_data = {'c0' : [1,2,3],
             'c1' : [4,5,6],
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

####<font color = 'red'> üëÄüêæ **Ìñâ Ïù∏Îç±Ïä§ Ïã§ÌñâÌïòÍ∏∞ set_index( ) 2-1** ‚§µÔ∏è

In [ ]:
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
#DictionaryÎç∞Ïù¥ÌÑ∞Î•º ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôòÌïòÎ©∞, Ìñâ Ïù∏Îç±Ïä§Î•º 'r0', 'r1', 'r2'Î°ú Ïû¨ÏßÄÏ†ï

df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> üëÄüêæ **#Ìñâ(row) Ïù∏Îç±Ïä§ Ïû¨Î∞∞Ïó¥ reindex( ) 2-2** ‚§µÔ∏è

In [ ]:
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [ ]:
#Ìñâ Ïù∏Îç±Ïä§Î•º [r0, r1, r2, r3, r4]Î°ú Ïû¨ÏßÄÏ†ï
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

####<font color = 'red'> üëÄüêæ **#reindex ( )Î°ú Î∞úÏÉùÌïú NaN Í∞íÏùÑ fill_value = 0 ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ NaNÏùÑ Ïà´Ïûê 0ÏúºÎ°ú Ï±ÑÏö∞Í∏∞ 3** ‚§µÔ∏è

In [ ]:
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [ ]:
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

####<font color = 'red'> üëÄüêæ **Ìñâ(row) Ïù∏Îç±Ïä§ Ï¥àÍ∏∞Ìôî reset_index( ) 4** ‚§µÔ∏è

In [ ]:
ndf2 = df.reset_index()
print(ndf2)
print()

print(df)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
ndf2=df.reset_index()
print(ndf2)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

####<font color = 'red'> üëÄüêæ **Ìñâ(row) Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨ sort_index( ) 5** ‚§µÔ∏è

In [ ]:
ndf3 = df.sort_index()
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
ndf3 = df.sort_index()
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> üëÄüêæ **Ìñâ(row) Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎ†§Î©¥ sort_index(ascending=False) & Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎ†§Î©¥ sort_index(ascending=True) 5** ‚§µÔ∏è

In [ ]:
ndf4 = df.sort_index(ascending=False)
print(ndf4)
print()

print(df.sort_index(ascending=True))

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
ndf4=df.sort_index(ascending=False)
print(ndf4)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

<font color = 'red'> **üëÄüêæ ÌäπÏ†ï Ïó¥Ïùò Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎÇ¥Î¶ºÏ∞®Ïàú/Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ∏∞ Ìñâ(row) Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎ†§Î©¥ sort_vales(by='cX', ascending=False) & Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎ†§Î©¥ sort_vales(by='cX', ascending=True) 6** ‚§µÔ∏è

In [ ]:
ndf5=df.sort_values(by='c0', ascending=False)
print(ndf5)
print('\n')

ndf6=df.sort_values(by='c1', ascending=True)
print(ndf6)
print()
print(df.sort_index(ascending=True))

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15