<a href="https://colab.research.google.com/github/SEOWOOJI/Pandas_Stats_Data_Analysis_2025/blob/main/6_read_write_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Read files in various formats**

- <font color = 'red'> read_FILEFORMAT()fuction
  - csv
  - json
  - html
  - clipboard
  - excel
  - hdf
  - sql

###**Write files in various formats**
- <font color = 'blue'> 00.to_FILEFORMAT("")method
  - csv
  - json
  - html
  - clipboard
  - excel
  - hdf
  - sql

pp.058-062 (cf., ÏòµÏÖò ÏÑ§Î™Ö ÌëúÎäî Ï±Ö Ï∞∏Ï°∞)

[Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏](https://www.data.go.kr/)
- csv, xlxs Îì±Ïùò ÏûêÎ£åÎ•º Îã§Ïö¥Î°úÎìú Î∞õÏùÑ Ïàò ÏûàÎäî ÎåÄÌïúÎØºÍµ≠ Í≥µÏãù Ï†ÑÏûêÏ†ïÎ∂Ä ÎàÑÎ¶¨Ïßë

# 1Ô∏è‚É£ üêπüêæ **Cloning github repository**

In [ ]:
!git clone 'https://github.com/ms624atyale/Pandas_Stats_Data_Analysis_2025'

Cloning into 'Pandas_Stats_Data_Analysis_2025'...
remote: Enumerating objects: 387, done.
remote: Counting objects: 100% (247/247), done.
remote: Compressing objects: 100% (192/192), done.
remote: Total 387 (delta 126), reused 110 (delta 53), pack-reused 140 (from 1)
Receiving objects: 100% (387/387), 3.26 MiB | 9.48 MiB/s, done.
Resolving deltas: 100% (209/209), done.

#üêπüêæ**Reading data**

###**<font color = 'red'> üêπüêæ Read the csv format**

In [ ]:
import pandas as pd

In [ ]:
file = '/content/Pandas_Stats_Data_Analysis_2025/sample.csv'

df1 = pd.read_csv(file, encoding='UTF-8')
print(df1)
print()

   test1  test2  test3
0      1      4      7
1      2      5      8
2      3      6      9

In [ ]:
# csv (comma separated values) format

import pandas as pd

#file directory
file = "/content/Pandas_Stats_Data_Analysis_2025/sample.csv"

#read_csv() functionÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôò
df1 = pd.read_csv(file)
print(df1)
print('\n')

   test1  test2  test3
0      1      4      7
1      2      5      8
2      3      6      9

###**<font color = 'red'> üêπüêæ Read the excel format**
- use element (engine = 'openpyxl') for .xlsx
- use element (engine = 'xlrd') for .xlsx

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('/content/Pandas_Stats_Data_Analysis_2025/·ÑÇ·Ö°·Ü∑·Ñá·ÖÆ·Ü®·Ñí·Ö°·Ü´·Ñá·Ö°·ÜØ·Ñå·Ö•·Ü´·Ñå·Ö•·Ü´·ÑÖ·Öß·Ü®·ÑÖ·Ö£·Üº.xlsx', sheet_name=0, engine='openpyxl')
df2 = pd.read_excel('/content/Pandas_Stats_Data_Analysis_2025/·ÑÇ·Ö°·Ü∑·Ñá·ÖÆ·Ü®·Ñí·Ö°·Ü´·Ñá·Ö°·ÜØ·Ñå·Ö•·Ü´·Ñå·Ö•·Ü´·ÑÖ·Öß·Ü®·ÑÖ·Ö£·Üº.xlsx', sheet_name=0, engine='openpyxl', header=None)
print(df1)
print('\n')
print(df2)

  Ï†ÑÎ†•Îüâ (Ïñµ„éæh) Î∞úÏ†Ñ Ï†ÑÎ†•Î≥Ñ  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        ÎÇ®Ìïú     Ìï©Í≥Ñ  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     ÏàòÎ†•    64    51    49    60    41    55    52    54  ...    50
2       NaN     ÌôîÎ†•   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    ÏõêÏûêÎ†•   529   563   565   581   587   670   739   771  ...  1429
4       NaN    Ïã†Ïû¨ÏÉù     -     -     -     -     -     -     -     -  ...     -
5        Î∂ÅÌïú     Ìï©Í≥Ñ   277   263   247   221   231   230   213   193  ...   236
6       NaN     ÏàòÎ†•   156   150   142   133   138   142   125   107  ...   133
7       NaN     ÌôîÎ†•   121   113   105    88    93    88    88    86  ...   103
8       NaN    ÏõêÏûêÎ†•     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  Ï†ÑÎ†•Îüâ (Ïñµ„éæh)  Î∞úÏ†Ñ Ï†ÑÎ†•Î≥Ñ  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         ÎÇ®Ìïú      Ìï©Í≥Ñ  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      ÏàòÎ†•    64    51    49    60    41    55    52    54  ...
3        NaN      ÌôîÎ†•   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     ÏõêÏûêÎ†•   529   563   565   581   587   670   739   771  ...
5        NaN     Ïã†Ïû¨ÏÉù     -     -     -     -     -     -     -     -  ...
6         Î∂ÅÌïú      Ìï©Í≥Ñ   277   263   247   221   231   230   213   193  ...
7        NaN      ÏàòÎ†•   156   150   142   133   138   142   125   107  ...
8        NaN      ÌôîÎ†•   121   113   105    88    93    88    88    86  ...
9        NaN     ÏõêÏûêÎ†•     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [ ]:
import pandas as pd
df1 = pd.read_excel("/content/Pandas_Stats_Data_Analysis_2025/·ÑÇ·Ö°·Ü∑·Ñá·ÖÆ·Ü®·Ñí·Ö°·Ü´·Ñá·Ö°·ÜØ·Ñå·Ö•·Ü´·Ñå·Ö•·Ü´·ÑÖ·Öß·Ü®·ÑÖ·Ö£·Üº.xlsx", engine = 'openpyxl') #header = 0 (by default)
df2 = pd.read_excel("/content/Pandas_Stats_Data_Analysis_2025/·ÑÇ·Ö°·Ü∑·Ñá·ÖÆ·Ü®·Ñí·Ö°·Ü´·Ñá·Ö°·ÜØ·Ñå·Ö•·Ü´·Ñå·Ö•·Ü´·ÑÖ·Öß·Ü®·ÑÖ·Ö£·Üº.xlsx", engine = 'openpyxl', header = None) #header unapplied

print(df1)
print('\n')
print(df2)

  Ï†ÑÎ†•Îüâ (Ïñµ„éæh) Î∞úÏ†Ñ Ï†ÑÎ†•Î≥Ñ  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        ÎÇ®Ìïú     Ìï©Í≥Ñ  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     ÏàòÎ†•    64    51    49    60    41    55    52    54  ...    50
2       NaN     ÌôîÎ†•   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    ÏõêÏûêÎ†•   529   563   565   581   587   670   739   771  ...  1429
4       NaN    Ïã†Ïû¨ÏÉù     -     -     -     -     -     -     -     -  ...     -
5        Î∂ÅÌïú     Ìï©Í≥Ñ   277   263   247   221   231   230   213   193  ...   236
6       NaN     ÏàòÎ†•   156   150   142   133   138   142   125   107  ...   133
7       NaN     ÌôîÎ†•   121   113   105    88    93    88    88    86  ...   103
8       NaN    ÏõêÏûêÎ†•     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  Ï†ÑÎ†•Îüâ (Ïñµ„éæh)  Î∞úÏ†Ñ Ï†ÑÎ†•Î≥Ñ  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         ÎÇ®Ìïú      Ìï©Í≥Ñ  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      ÏàòÎ†•    64    51    49    60    41    55    52    54  ...
3        NaN      ÌôîÎ†•   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     ÏõêÏûêÎ†•   529   563   565   581   587   670   739   771  ...
5        NaN     Ïã†Ïû¨ÏÉù     -     -     -     -     -     -     -     -  ...
6         Î∂ÅÌïú      Ìï©Í≥Ñ   277   263   247   221   231   230   213   193  ...
7        NaN      ÏàòÎ†•   156   150   142   133   138   142   125   107  ...
8        NaN      ÌôîÎ†•   121   113   105    88    93    88    88    86  ...
9        NaN     ÏõêÏûêÎ†•     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

###**<font color = 'red'> üêπüêæ Read the html format**
- visit a webpage.
 - e.g., google.com ‚û°Ô∏è hold <CONTROL> + Click ‚û°Ô∏è save as <Google> with the format of <Webpage, HTML Only> ‚û°Ô∏è hit Upload ‚û°Ô∏è select the <Google.html>
>
- [Ï†ïÎ≥¥Î¨∏ÌôîÏÇ¨ ÌååÏù¥Ïç¨ Î®∏Ïã†Îü¨Îãù ÌåêÎã§Ïä§ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù](http://www.infopub.co.kr/new/include/detail.asp?sku=05000266) ‚û°Ô∏è ÏÉòÌîåÏûêÎ£å Îã§Ïö¥Î°úÎìú (Ïö∞Ï∏° ÌïòÎã®)

In [ ]:
import pandas as pd

In [ ]:
url = '/content/Pandas_Stats_Data_Analysis_2025/sample.html'

tables = pd.read_html(url)

print(len(tables))
print()

for i in range(len(tables)):
  print('tables[%s]' %i)
  print(tables[i])
  print()

df = tables[i]
df.set_index(['name'], inplace=True)
df

2

tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [ ]:
import pandas as pd

url = "/content/Pandas_Stats_Data_Analysis_2025/sample.html"

#html ÏõπÌéòÏù¥ÏßÄÏùò ÌëúÎ•º Í∞ÄÏ†∏ÏôÄÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò
tables = pd.read_html(url)

#Ìëú Í∞úÏàò ÌôïÏù∏
print(len(tables))
print('\n')

#Ìëú Î¶¨Ïä§Ìä∏Ïùò ÏõêÏÜåÎ•º Î∞òÎ≥µÌïòÎ©¥ÏÑú (interating the element of the table list) ÌôîÎ©¥ Ï∂úÎ†•
for i in range(len(tables)):
  print("tables[%s]" %i)
  print(tables[i])
  print('\n')

#ÌååÏù¥Ïç¨ Ìå®ÌÇ§ÏßÄ Ï†ïÎ≥¥Í∞Ä Îì§Ïñ¥ ÏûàÎäî Îëê Î≤àÏß∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÑ†ÌÉùÌïòÏó¨ df Î≥ÄÏàòÏóê Ï†ÄÏû•
df = tables[i]

#name Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú Ï†ÄÏû•
df.set_index(['name'], inplace = True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

#üêπüêæ**Saving data**

###üêπüêæ<font color = 'blue'> **Write as the csv format**

In [ ]:
#saving as csv format

import pandas as pd

#ÌåêÎã§Ïä§ DataFrame()Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôòÌïú Í≤ÉÏùÑ Î≥ÄÏàòÎ°ú Ìï†Îãπ

data = {'name': ['Emma', "Sean", "Witney"],
        'algol': ['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'c++': ['B+','C', 'C+'],
}
df = pd.DataFrame(data)
df.set_index('name', inplace=True) #name Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ï
#df.set_index('c++', inplace=True) #c++ Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ï
print(df)

df.to_csv("./df_sample.csv") #csv file saved in the <sample_data> directory of Colab

       algol basic c++
name
Emma       A     C  B+
Sean      A+     B   C
Witney     B    B+  C+

###üêπüêæ<font color = 'blue'> **Write as the excel format**

In [ ]:
import pandas as pd

#dataÎ≥ÄÏàòÏóê ÏÇ¨Ï†ÑÌòï Îç∞Ïù¥ÌÑ∞Î°ú ÏûêÎ£åÎ•º Ï†ïÎ¶¨
data = {'name': ['Emily', 'Andy', 'John'],
        'c++':['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'JAVA': ['B+', 'C', 'C+']
        }

#Pandas DataFrame()functionÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôòÌïòÏó¨ Ïù¥Î•º df Î≥ÄÏàòÏóê Ìï†Îãπ
df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

df.to_excel('./df_sample.xlsx')

      c++ basic JAVA
name
Emily   A     C   B+
Andy   A+     B    C
John    B    B+   C+

###üêπüêæ<font color = 'blue'> **Write as the excel format after combining multiple data frames**

In [ ]:
#Ïó¨Îü¨Í∞úÏùò excel ÌååÏùºÏùÑ ÌååÏùº ÌïòÎÇòÎ°ú Ï†ÄÏû•ÌïòÍ∏∞

import pandas as pd

data1 = {'name': ['Emily', 'Andy', 'John'],
        'c++':['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'JAVA': ['B+', 'C', 'C+']
        }

data2 = {'c0':[1,2,3],
         'c1':[4,5,6],
         'c2':[7,8,9],
         'c3':[10,11,12],
         'c4':[13,14,15]
         }

df1=pd.DataFrame(data1)
df1.set_index('name', inplace=True)
print(df1)
print('\n')

df2=pd.DataFrame(data2)
df2.set_index('c0', inplace=True)
print(df2)

#df1ÏùÑ sheet1ÏúºÎ°ú, df2Î•º sheet2Î°ú Ï†ÄÏû•. ÌååÏùºÎ™ÖÏùÄ df_excelwriter.xlsx Î°ú Ìï¥Î≥∏Îã§.

writer = pd.ExcelWriter("./df_excelwriter.xlsx")

df1.to_excel(writer, sheet_name = 'grading')
df2.to_excel(writer, sheet_name='numbers')
writer.close() #To address this, you can use the writer.close() method instead of save(). This will properly close the Excel file and ensure that all the data is saved.

      c++ basic JAVA
name
Emily   A     C   B+
Andy   A+     B    C
John    B    B+   C+


    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15