<a href="https://colab.research.google.com/github/SEOWOOJI/Pandas_Stats_Data_Analysis_2025/blob/main/7_examine_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**<font color = 'red'> üêπüêæ Examing data**

- [Ï†ïÎ≥¥Î¨∏ÌôîÏÇ¨ ÌååÏù¥Ïç¨ Î®∏Ïã†Îü¨Îãù ÌåêÎã§Ïä§ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù](http://www.infopub.co.kr/new/include/detail.asp?sku=05000266) ‚û°Ô∏è ÏÉòÌîåÏûêÎ£å Îã§Ïö¥Î°úÎìú (Ïö∞Ï∏° ÌïòÎã®)

In [ ]:
!git clone 'https://github.com/ms624atyale/Pandas_Stats_Data_Analysis_2025'

Cloning into 'Pandas_Stats_Data_Analysis_2025'...
remote: Enumerating objects: 387, done.
remote: Counting objects: 100% (247/247), done.
remote: Compressing objects: 100% (192/192), done.
remote: Total 387 (delta 126), reused 110 (delta 53), pack-reused 140 (from 1)
Receiving objects: 100% (387/387), 3.26 MiB | 6.39 MiB/s, done.
Resolving deltas: 100% (209/209), done.

#üêπüêæ**Skiming data**

###**<font color = 'red'> üêπüêæ Auto MPG (ÏûêÎèôÏ∞® Ïó∞ÎπÑ)**
"/FOLDER/·Ñå·Ö•·Üº·Ñá·Ö©·ÑÜ·ÖÆ·Ü´·Ñí·Ö™·Ñâ·Ö°_·Ñë·Ö°·Ü´·ÑÉ·Ö°·Ñâ·Ö≥_·Ñê·Ö¶·Ü®·Ñâ·Ö≥·Ñê·Ö≥·Ñá·ÖÆ·Ü®·Ñâ·Ö¢·Ü∑·Ñë·Ö≥·ÜØ·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•/part4/auto-mpg.csv"

In [ ]:
import pandas as pd

In [ ]:
file = r'/content/Pandas_Stats_Data_Analysis_2025/auto-mpg.csv'

df = pd.read_csv(file, header=None)
df.columns = ['mpg', 'cylinders','displacement', 'horsepoweer', 'weight', 'acceleration', 'model year', 'origin', 'name']
df.tail()

,mpg,cylinders,displacement,horsepoweer,weight,acceleration,model year,origin,name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [ ]:
# csv (comma separated values) format
# -*- coding: utf-8 -*-

import pandas as pd

#read_csv()Ìï®ÏàòÎ°ú df ÏÉùÏÑ± üÜò caution: read_csv(), NOT *read.csv()
df = pd.read_csv("/content/Pandas_Stats_Data_Analysis_2025/auto-mpg.csv", header=None)

#columnsÏó¥ Ïù¥Î¶Ñ ÏßÄÏ†ï üÜò df.columns = [], NOT *df.columns[]
df.columns = ['mpg', 'cylinders','displacement', 'horsepoweer', 'weight', 'acceleration', 'model year', 'origin', 'name']

#data frame ÎÇ¥Ïö© ÏùºÎ∂Ä ÌôïÏù∏ÌïòÍ∏∞
print(df.head())
print('\n')
print(df.tail())
print('\n')

#tuple ÌòïÌÉúÎ°ú ÌñâÍ≥º Ïó¥Ïùò Í∞úÏàòÎ•º Î≥¥Ïó¨Ï£ºÎ©∞ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌÅ¨Í∏∞ Ï∂úÎ†• üÜò print(df.shape), NOT*print(df.shape())
print(df.shape)

#info()methodÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóê Ï†ÅÏö© ‚û°Ô∏è  ÌÅ¥ÎûòÏä§ Ïú†Ìòï, Ìñâ Ïù∏Îç±Ïä§Ïúº Íµ¨ÏÑ±, Ïó¥ Ïù¥Î¶ÑÏùò Ï¢ÖÎ•òÏôÄ Í∞úÏàò, Í∞Å Ïó¥Ïùò ÏûêÎ£åÌòïÍ≥º Í∞úÏàò, Î©îÎ™®Î¶¨ Ìï†ÎãπÎüâ Ï†ïÎ≥¥ Ìè¨Ìï®ÌïòÏó¨ Ï∂úÎ†•
print(df.info())

#Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò dfÏûêÎ£åÌòï ÌôïÏù∏ÌïòÍ∏∞ üÜò print(df.dtypes), NOT*print(df.dtypes())
print(df.dtypes)
print('\n')

# ÏãúÎ¶¨Ï¶à(mpg Ïó¥)Ïùò ÏûêÎ£åÌòï ÌôïÏù∏ÌïòÍ∏∞ üÜò print(df.mpg,dtypes), NOT*print(df.mpg.dtypes())
print(df.mpg.dtype)
print('\n')

#Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ dfÍ∏∞Ïà†ÌÜµÍ≥ÑÏ†ïÎ≥¥ ÌôïÏù∏ÌïòÍ∏∞

# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ dfÏùò Í∏∞Ïà†ÌÜµÍ≥Ñ Ï†ïÎ≥¥ ÌôïÏù∏
print(df.describe())
print('\n')

print(df.describe(include='all'))

    mpg  cylinders  displacement horsepoweer  weight  acceleration  \
0  18.0          8         307.0       130.0  3504.0          12.0
1  15.0          8         350.0       165.0  3693.0          11.5
2  18.0          8         318.0       150.0  3436.0          11.0
3  16.0          8         304.0       150.0  3433.0          12.0
4  17.0          8         302.0       140.0  3449.0          10.5

   model year  origin                       name
0          70       1  chevrolet chevelle malibu
1          70       1          buick skylark 320
2          70       1         plymouth satellite
3          70       1              amc rebel sst
4          70       1                ford torino


      mpg  cylinders  displacement horsepoweer  weight  acceleration  \
393  27.0          4         140.0       86.00  2790.0          15.6
394  44.0          4          97.0       52.00  2130.0          24.6
395  32.0          4         135.0       84.00  2295.0          11.6
396  28.0          4         120.0       79.00  2625.0          18.6
397  31.0          4         119.0       82.00  2720.0          19.4

     model year  origin             name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10


(398, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepoweer   398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None
mpg             float64
cylinders         int64
displacement    float64
horsepoweer      object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object


float64


              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000


               mpg   cylinders  displacement horsepoweer       weight  \
count   398.000000  398.000000    398.000000         398   398.000000
unique         NaN         NaN           NaN          94          NaN
top            NaN         NaN           NaN       150.0          NaN
freq           NaN         NaN           NaN          22          NaN
mean     23.514573    5.454774    193.425879         NaN  2970.424623
std       7.815984    1.701004    104.269838         NaN   846.841774
min       9.000000    3.000000     68.000000         NaN  1613.000000
25%      17.500000    4.000000    104.250000         NaN  2223.750000
50%      23.000000    4.000000    148.500000         NaN  2803.500000
75%      29.000000    8.000000    262.000000         NaN  3608.000000
max      46.600000    8.000000    455.000000         NaN  5140.000000

        acceleration  model year      origin        name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

#**Delete the following cells if not used finally**

###**<font color = 'red'> üêπüêæ Read the excel format**
- use element (engine = 'openpyxl') for .xlxs
- use element (engine = 'xlrd') for .xls

In [ ]:
import pandas as pd
df1 = pd.read_excel("/content/Pandas_Stats_Data_Analysis_2025/·ÑÇ·Ö°·Ü∑·Ñá·ÖÆ·Ü®·Ñí·Ö°·Ü´·Ñá·Ö°·ÜØ·Ñå·Ö•·Ü´·Ñå·Ö•·Ü´·ÑÖ·Öß·Ü®·ÑÖ·Ö£·Üº.xlsx", engine = 'openpyxl') #header = 0 (by default)
df2 = pd.read_excel("/content/Pandas_Stats_Data_Analysis_2025/·ÑÇ·Ö°·Ü∑·Ñá·ÖÆ·Ü®·Ñí·Ö°·Ü´·Ñá·Ö°·ÜØ·Ñå·Ö•·Ü´·Ñå·Ö•·Ü´·ÑÖ·Öß·Ü®·ÑÖ·Ö£·Üº.xlsx", engine = 'openpyxl', header = None) #header unapplied

print(df1)
print('\n')
print(df2)

  Ï†ÑÎ†•Îüâ (Ïñµ„éæh) Î∞úÏ†Ñ Ï†ÑÎ†•Î≥Ñ  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        ÎÇ®Ìïú     Ìï©Í≥Ñ  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     ÏàòÎ†•    64    51    49    60    41    55    52    54  ...    50
2       NaN     ÌôîÎ†•   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    ÏõêÏûêÎ†•   529   563   565   581   587   670   739   771  ...  1429
4       NaN    Ïã†Ïû¨ÏÉù     -     -     -     -     -     -     -     -  ...     -
5        Î∂ÅÌïú     Ìï©Í≥Ñ   277   263   247   221   231   230   213   193  ...   236
6       NaN     ÏàòÎ†•   156   150   142   133   138   142   125   107  ...   133
7       NaN     ÌôîÎ†•   121   113   105    88    93    88    88    86  ...   103
8       NaN    ÏõêÏûêÎ†•     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  Ï†ÑÎ†•Îüâ (Ïñµ„éæh)  Î∞úÏ†Ñ Ï†ÑÎ†•Î≥Ñ  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         ÎÇ®Ìïú      Ìï©Í≥Ñ  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      ÏàòÎ†•    64    51    49    60    41    55    52    54  ...
3        NaN      ÌôîÎ†•   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     ÏõêÏûêÎ†•   529   563   565   581   587   670   739   771  ...
5        NaN     Ïã†Ïû¨ÏÉù     -     -     -     -     -     -     -     -  ...
6         Î∂ÅÌïú      Ìï©Í≥Ñ   277   263   247   221   231   230   213   193  ...
7        NaN      ÏàòÎ†•   156   150   142   133   138   142   125   107  ...
8        NaN      ÌôîÎ†•   121   113   105    88    93    88    88    86  ...
9        NaN     ÏõêÏûêÎ†•     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [ ]:
import pandas as pd

url = "/content/Pandas_Stats_Data_Analysis_2025/sample.html"

#html ÏõπÌéòÏù¥ÏßÄÏùò ÌëúÎ•º Í∞ÄÏ†∏ÏôÄÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò
tables = pd.read_html(url)

#Ìëú Í∞úÏàò ÌôïÏù∏
print(len(tables))
print('\n')

#Ìëú Î¶¨Ïä§Ìä∏Ïùò ÏõêÏÜåÎ•º Î∞òÎ≥µÌïòÎ©¥ÏÑú (interating the element of the table list) ÌôîÎ©¥ Ï∂úÎ†•
for i in range(len(tables)):
  print("tables[%s]" %i)
  print(tables[i])
  print('\n')

#ÌååÏù¥Ïç¨ Ìå®ÌÇ§ÏßÄ Ï†ïÎ≥¥Í∞Ä Îì§Ïñ¥ ÏûàÎäî Îëê Î≤àÏß∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÑ†ÌÉùÌïòÏó¨ df Î≥ÄÏàòÏóê Ï†ÄÏû•
df = tables[i]

#name Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú Ï†ÄÏû•
df.set_index(['name'], inplace = True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

#üêπüêæ**Saving data**

###üêπüêæ<font color = 'blue'> **Write as the csv format**

In [ ]:
#saving as csv format

import pandas as pd

#ÌåêÎã§Ïä§ DataFrame()Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôòÌïú Í≤ÉÏùÑ Î≥ÄÏàòÎ°ú Ìï†Îãπ

data = {'name': ['Emma', "Sean", "Witney"],
        'algol': ['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'c++': ['B+','C', 'C+'],
}
df = pd.DataFrame(data)
df.set_index('name', inplace=True) #name Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ï
#df.set_index('c++', inplace=True) #c++ Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ï
print(df)

df.to_csv("./df_sample.csv") #csv file saved in the <sample_data> directory of Colab

       algol basic c++
name
Emma       A     C  B+
Sean      A+     B   C
Witney     B    B+  C+

###üêπüêæ<font color = 'blue'> **Write as the excel format**

In [ ]:
import pandas as pd

#dataÎ≥ÄÏàòÏóê ÏÇ¨Ï†ÑÌòï Îç∞Ïù¥ÌÑ∞Î°ú ÏûêÎ£åÎ•º Ï†ïÎ¶¨
data = {'name': ['Emily', 'Andy', 'John'],
        'c++':['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'JAVA': ['B+', 'C', 'C+']
        }

#Pandas DataFrame()functionÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôòÌïòÏó¨ Ïù¥Î•º df Î≥ÄÏàòÏóê Ìï†Îãπ
df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

df.to_excel('./df_sample.xlsx')

      c++ basic JAVA
name
Emily   A     C   B+
Andy   A+     B    C
John    B    B+   C+

###üêπüêæ<font color = 'blue'> **Write as the excel format after combining multiple data frames**

In [ ]:
#Ïó¨Îü¨Í∞úÏùò excel ÌååÏùºÏùÑ ÌååÏùº ÌïòÎÇòÎ°ú Ï†ÄÏû•ÌïòÍ∏∞

import pandas as pd

data1 = {'name': ['Emily', 'Andy', 'John'],
        'c++':['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'JAVA': ['B+', 'C', 'C+']
        }

data2 = {'c0':[1,2,3],
         'c1':[4,5,6],
         'c2':[7,8,9],
         'c3':[10,11,12],
         'c4':[13,14,15]
         }

df1=pd.DataFrame(data1)
df1.set_index('name', inplace=True)
print(df1)
print('\n')

df2=pd.DataFrame(data2)
df2.set_index('c0', inplace=True)
print(df2)

#df1ÏùÑ sheet1ÏúºÎ°ú, df2Î•º sheet2Î°ú Ï†ÄÏû•. ÌååÏùºÎ™ÖÏùÄ df_excelwriter.xlsx Î°ú Ìï¥Î≥∏Îã§.

writer = pd.ExcelWriter("./df_excelwriter.xlsx")

df1.to_excel(writer, sheet_name = 'grading')
df2.to_excel(writer, sheet_name='numbers')
writer.close() #To address this, you can use the writer.close() method instead of save(). This will properly close the Excel file and ensure that all the data is saved.

      c++ basic JAVA
name
Emily   A     C   B+
Andy   A+     B    C
John    B    B+   C+


    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15